@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
}

@layer components {
}

@layer utilities {
	.glass {
		@apply backdrop-blur-lg;
		background-color: var(--color-glass-background);
		color: var(--color-glass-foreground);
		border: 1px solid var(--color-glass-border);
		box-shadow: 0 5px 10px 0px oklch(0% 0 0 / 0.2);
	}
}

@layer base {
	:root {
		--color-foreground-oklch: 20.5% 0 0; /* neutral-900 */
		--color-foreground: oklch(var(--color-foreground-oklch));
		--color-background-oklch: 98.5 0 0;
		--color-background: oklch(var(--color-background-oklch));
		--color-glass-background: oklch(0% 0 0 / 0.7);
		--color-glass-foreground: oklch(100% 0 0 / 0.8);
		--color-glass-border: oklch(0% 0 0 / 0.8);
		--color-border: oklch(50% 0 0);

		@media (prefers-color-scheme: dark) {
			--color-foreground-oklch: 98.5% 0 0; /* neutral-50 */
			--color-foreground: oklch(var(--color-foreground-oklch));
			--color-background-oklch: 20.5% 0 0; /* neutral-900 */
			--color-background: oklch(var(--color-background-oklch));
			--color-glass-background: oklch(30% 0 0 / 0.7);
			--color-glass-foreground: oklch(100% 0 0 / 0.9);
			--color-glass-border: oklch(100% 0 0 / 0.1);
			--color-border: oklch(50% 0 0);
		}
	}
	hr {
		border-color: var(--color-border);
	}
}

body {
	color: var(--color-foreground);
	background-color: var(--color-background);
	font-weight: 600;
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1;
}
